<div class="umb-property mbran-timings" ng-controller="MBran.Timings.TimingsController">
    <div class="control-group umb-control-group timing" ng-repeat="timing in timings track by $index">
        <div class="timing-edit" ng-show="isEditMode($index)">
            <div class="timing-day details">
                <div>
                    <select ng-options="index as day for (index,day) in options.days.code" ng-model="timing.day.from"></select>
                </div>
                <div ng-show="!sameDay[$index]">
                    <label>To</label>
                    <select ng-options="index as day for (index,day) in options.days.code" ng-model="timing.day.to"></select>
                </div>
            </div>
            <div class="timing-time details">
                <select ng-options="hour as padLeadingZeroes(hour) for hour in options.times.hours track by hour" ng-model="timing.from.hour"></select>
                <select ng-options="minute as padLeadingZeroes(minute) for minute in options.times.minutes track by minute" ng-model="timing.from.minutes"></select>
                <select ng-options="meridian.Key as meridian.Value for meridian in options.times.meridians" ng-model="timing.from.meridian"></select>
                <label>To</label>
                <select ng-options="hour as padLeadingZeroes(hour) for hour in options.times.hours track by hour" ng-model="timing.to.hour"></select>
                <select ng-options="minute as padLeadingZeroes(minute) for minute in options.times.minutes track by minute" ng-model="timing.to.minutes"></select>
                <select ng-options="meridian.Key as meridian.Value for meridian in options.times.meridians" ng-model="timing.to.meridian"></select>
            </div>
            <div class="timing-icons umb-node-preview__actions">
                <a class="umb-node-preview__action ng-scope" href ng-click="applyChanges(timing, $index)">Apply</a>
                <a class="umb-node-preview__action ng-scope" href ng-click="cancelChanges(timing, $index)">Cancel</a>
            </div>
        </div>
        <div class="timing-display" ng-show="!isEditMode($index)">
            <div class="timing-heading umb-node-preview__content details">
                <div class="day" ng-show="!sameDay[$index]">{{options.days.name[timing.day.from]}} - {{options.days.name[timing.day.to]}}</div> 
                <div class="day" ng-show="sameDay[$index]">{{options.days.name[timing.day.from]}}</div>
                <div class="time">{{padLeadingZeroes(timing.from.hour)}}:{{padLeadingZeroes(timing.from.minutes)}} {{getMeridianValue(timing.from.meridian)}} - {{padLeadingZeroes(timing.to.hour)}}:{{padLeadingZeroes(timing.to.minutes)}} {{getMeridianValue(timing.to.meridian)}}</div>
            </div>
            <div class="timing-icons umb-node-preview__actions">
                <a class="umb-node-preview__action ng-scope" href ng-click="setEditMode($index)">Edit</a>
                <a class="umb-node-preview__action ng-scope" href ng-click="removeTiming($index)">Remove</a>
            </div>
        </div>
    </div>
    <div>
        <button class="btn" ng-click="addNewTimings(); $event.preventDefault();">Add day range</button>
        <button class="btn" ng-click="addNewTimings(true); $event.preventDefault();">Add single day</button>
    </div>
</div>
