.timing {
    padding-bottom: 10px;
}

.timing-icons {
    display: inline-block;
    padding: 50px;
}
.timing-day select {
    width: 80px;
}

.timing-time select {
    width: 60px;
}

.timing-day, .timing-time {
    display: inline-block;
}

.timing label {
    line-height: 15px;
    padding: 10px;
}

.timing-display div {
    display: inline-block;
}

.timing-time {
    margin-left: 50px;
}

.timing-heading {
    width: 400px;
}

.timing-heading div {
    display: inline-block;
}

.timing-heading .day {
    width: 200px;
}