.timing {
    padding-bottom: 10px;
}

.details, .details div {
    vertical-align: top;
    
}

.timing-icons {
    vertical-align: -webkit-baseline-middle;
}

.timing div {
    display: inline-block;
}

.timing-day select {
    width: 80px;
}

.timing-time select {
    width: 81px;
}

.timing label {
    line-height: 15px;
    padding: 10px;
}

.timing-time {
    margin-left: 50px;
}

.timing-heading {
    width: 400px;
}

.timing-heading .day {
    width: 200px;
}
